<div class = 'mainDiv'>
    <h3>Search by Author and Title</h3>

    <form [formGroup]="form">

        <mat-form-field appearance="outline">
            <input placeholder="Author" matInput formControlName="author" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input placeholder="Title" matInput formControlName="title" />
        </mat-form-field>

        <button mat-raised-button color="warn" [disabled]="!form.valid" (click)="search"></button>

    </form>
</div>