<div class='mainDiv'>

    <h3 class="title">Search by Title</h3>

    <form [formGroup]="form">

        <mat-form-field appearance="outline">
            <input placeholder="Title" matInput formControlName="title" />
        </mat-form-field>

        <mat-slide-toggle color="primary" formControlName="exactMatch">
            Exact match?
        </mat-slide-toggle>

        <button mat-raised-button color="warn" [disabled]="!form.valid" (click)="search()">Search</button>

        <div class="alert alert-danger" *ngIf="error">Error: {{errorMsg}}</div>

        <div class="spinner-container" *ngIf="loading">

            <mat-spinner></mat-spinner>
    
        </div>

    </form>

    <mat-card *ngFor="let poem of poems" style="margin: 20px 10px;">
        <mat-card-header>
            <mat-card-title>{{poem.title}}</mat-card-title>
        </mat-card-header>

        <mat-card-content style="margin: 16px 16px">
            by: {{poem.author}}<br/>
            line count: {{poem.linecount}}
        </mat-card-content>

        <mat-expansion-panel *ngIf="poem.lines && poem.lines.length > 0">
            <mat-expansion-panel-header>{{poem.lines[0]}}</mat-expansion-panel-header>
            <mat-panel-description style="display: inline;" [innerHTML]="poem.lines.join('\<br/>')"></mat-panel-description>
        </mat-expansion-panel>
    </mat-card>

</div>