:host {
    display: flex;
    justify-content: center;
}

.mainDiv {
    margin-top: 20px;
}

.mainDiv form {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    margin-right: 15px;
}